init_config: {}

instances:
  - host: postgres
    port: 5432
    username: dummy
    password: dummypw
    dbname: dummydb
    tags:
      - env:demo

logs:
  - type: file
    path: /var/lib/postgresql/data/log/*.log
    service: postgres
    source: postgres
    sourcecategory: database
    tags:
      - env:demo
    # Set to true if you want multi-line support for stack traces
    multi_line: true
    # Consider including the following processing rules to capture stack traces
    # and ensure proper service tagging. Adjust `service` or `tags` as needed.
    processors:
      - type: multi_line
        pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
        name: new_log_start_with_date
